.DS_Store
__pycache__/
node_modules/
.venv/
.vscode/

# Build artifacts
build/
*.db
*.pyc

# Python
*.egg-info/
dist/
.pytest_cache/

# IDE
.idea/
*.swp
*.swo
*~

# Logseq
logseq/bak/
config/note-tools/logseq/bak/